/* General Styles */
body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: #f8f9fa;
}

.lead {
    font-size: 1.2rem;
}

.float-right {
    float: right;
    margin-left: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: DarkSalmon;
    color: white;
}

img.img-fluid {
    margin-bottom: 15px;
}
